

button,
.btn {
    background: $button-background-primary;
    border: 0.1rem solid transparent;
    border-radius: 2rem;
    box-shadow: 0 10px 20px rgba(51, 234, 164, 0.19), 0 6px 6px rgba(51, 234, 164, 0.23) ;
    cursor: pointer;
    color: #FFFFFF;
    display: inline-block;
    font-size: 1.5rem;
    font-weight: 700;
    height: 4rem;
    letter-spacing: 0.1rem; 
    line-height: 3.8rem;
    margin: 1.5rem;
    padding: 0 3rem;
    line-height: 1.6rem;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    vertical-align: middle;
    white-space: nowrap;
    @include transition(box-shadow, 0.2s);
    [type=submit]:hover,
    &:focus, 
    &:hover {
        background: linear-gradient(45deg, lighten($color-primary, 10%), lighten($color-secondary, 10%));
        box-shadow: 0 10px 20px 5px rgba(51, 234, 164, 0.19), 0 6px 6px rgba(51, 234, 164, 0.23) ;
        outline: 0;
        position: relative;
        top: -1px;
    }
}

.btn-outline {
    background: transparent;
    color: $color-primary;
    border: 0.1rem solid;
    @include transition(all, 0.2s);
    [type=submit]:hover,
    &:focus, 
    &:hover {
        background: $button-background-primary;
        border: 0.1rem solid transparent;
        color: white;
    }
}


.btn.disabled,
.btn:disabled,
.btn[disabled] {
    opacity: 0.50;
    box-shadow: none;
    pointer-events: none;
    cursor: default;
}