.dropdown {
    display: inline-flex;
    position: relative;
    vertical-align: middle;
    text-align: center;
    background: white;
    z-index: 100;
    width: 100%;
    &:focus {
        outline: none;
    }
}

.dropdown-items {
    background-color: $button-background-primary; 
}