
@mixin transition($prop, $duration) {
    -webkit-transition: $prop $duration ease-in-out;
    -moz-transition: $prop $duration ease-in-out;
    -ms-transition: $prop $duration ease-in-out;
    -o-transition: $prop $duration ease-in-out;
    transition: $prop $duration ease-in-out;
}